@range_width: 150px;
@thumb_width: 25px;

.circle {
  width:100px;
  height:100px;
  left:-50px;
  top:-50px;
  position:absolute;
  border: 2px solid #333333;
  border-radius:50px;
  background-color: grey;
  transition-property: transform, background-color;
  transition-duration: 1s, 2s;
  transition-timing-function: ease,ease;
}

#status {
  background-color:grey;
  position: absolute;
  left:20%;
  top:0%;
  width:60%;
  height:2%;
  overflow: scroll;
  transition:height 1s ease;
}

#status:hover {
  height:20%;
}
.error {
  background-color:red;
}



/////  - for the server
.ui {
  position:relative;
  display:inline-block;
  min-height: 200px;
  min-width:  70px;
  margin:10px;
  border: 1px solid black;
  border-radius: 3px;
}

.status {
  position:absolute;
  left: 0px;
  top: 177px;
}

input[type=range] {
  position:absolute;
  left: -49px;
  top: 81px;
  -webkit-appearance: none;
  -webkit-transform:rotate(270deg);
  transform:rotate(270deg);
  width: @range_width;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: @range_width;
  height: @thumb_width;
  cursor: pointer;
  box-shadow: 4.3px 4.3px 15px #000000, 0px 0px 4.3px #0d0d0d;
  background: #ffffcb;
  border-radius: 1.7px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 33px;
  width: 50px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffdf;
}
input[type=range]::-moz-range-track {
  width: @range_width;
  height: @thumb_width;
  cursor: pointer;
  box-shadow: 4.3px 4.3px 15px #000000, 0px 0px 4.3px #0d0d0d;
  background: #ffffcb;
  border-radius: 1.7px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 33px;
  width: 50px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: @range_width;
  height: @thumb_width;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ffffb7;
  border: 0px solid #010101;
  border-radius: 3.4px;
  box-shadow: 4.3px 4.3px 15px #000000, 0px 0px 4.3px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffcb;
  border: 0px solid #010101;
  border-radius: 3.4px;
  box-shadow: 4.3px 4.3px 15px #000000, 0px 0px 4.3px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 33px;
  width: 50px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: @thumb_width;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffcb;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffdf;
}

